* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto-Bold.ttf');
    font-weight: 700;
}


:root {
    /* COLORS */
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato-gradient: rgb(255, 123, 71);
    /* FONT SIZE */
    --H1: 3.5rem;
    --p: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    background-color: var(--Charcoal-Grey);
    align-items: center;
    justify-content: center;
    min-height: 100svh;
}

h1 {
    font-weight: 700;
    font-size: var(--H1);
    color: var(--Dark-Slate-Grey);
    margin: 2rem 0 2rem 0;
}

li {
    margin: 1rem 0;
}

label {
    display: flex;
    color: var(--Dark-Slate-Grey);
    font-weight: 700;
    font-size: 0.8rem;
    justify-content: space-between;
}

button {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    padding: 1rem;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}

button:hover,
button:active,
button:focus {
    background-image: linear-gradient(to right, var(--Tomato), var(--Tomato-gradient));
}

#email-submit-btn {
    background-color: var(--Dark-Slate-Grey);
    color: var(--White);
    font-weight: 700;
    padding: 1rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
}

#email-submit-btn:hover,
#email-submit-btn:active,
#email-submit-btn:focus {
    background-image: linear-gradient(to right, var(--Tomato), var(--Tomato-gradient));
}

#email-submit-btn:active {
    scale: 0.99;
}

#email {
    margin: 0.8rem 0 1rem 0;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid var(--Grey);
    opacity: 0.5;
    cursor: pointer;
}

#email:focus {
    opacity: 1;
}

#form-container {
    padding: 2rem;
}

#invalid-email-msg {
    color: red;
}

#sign-up-container {
    display: flex;
    background-color: var(--White);
    flex-direction: row;
    padding: 1rem;
    border-radius: 1rem;
    gap: 2rem;
}

.message-container {
    background-color: var(--White);
    width: 33%;
    border-radius: 1rem;
    padding: 2rem 3rem;
}

.message-container h1 {
    font-size: 3rem;
    font-weight: 700;
}

.email-form {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 2rem 0;
}

.bold {
    font-weight: 700;
}

.ul-description {
    margin: 1rem 0 2rem 0;
}

.success-img {
    scale: 0.9;
}

.list-icon {
    margin-right: 1rem;
}

.hidden {
    display: none;
}

#form-img {
    content: url('assets/images/illustration-sign-up-desktop.svg');
}

.attribution {
    position: absolute;
    font-size: 11px; 
    text-align: center;
    bottom: 10px;
    color: var(--Grey);
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 1080px) {

    body{
        background-color: var(--White);
        justify-content: flex-start;
    }

    #form-img {
        content: url('assets/images/illustration-sign-up-mobile.svg');       
    }

    #sign-up-container {
        flex-direction: column-reverse;
        padding: 0;
        gap: 0;
    }

    h1 {
        margin: 0;
        font-size: 2.6rem;
    }

    .message-container {
        width: 100%;
    }

    .attribution {
        position: relative;
        color: var(--Dark-Slate-Grey);
    }

}